* {
	font-family: 'Cinzel Decorative', cursive;
	font-family: 'El Messiri', sans-serif;
	font-family: 'Emilys Candy', cursive;
}

body {
}

#logo {
	max-width: 65px;
}

header {
	display: flex;
	background-color: #e22777;

	/* opacity: 0.75; */
}

footer {
	background-color: #e22777;
	/* opacity: 0.75; */
}

h6 {
	font-size: 12px;
}

.top-items {
	flex: 1;
	vertical-align: top;
	margin-top: 0 !important;
}

.top-items {
	text-align: right;
}

.nav-link:hover {
	background: #01dd12;
}

.nav.nav-pills > li {
	float: none;
	display: inline-block;
}

.dropdown-menu {
	background-color: #8f29fc;
}

.dropdown-menu:hover {
	background: #01dd12;
}

.nav-pills {
	/* color: white; */
	background-color: #8f29fc;
	/* opacity: 0.75; */
}

.vertical {
	background-color: #8f29fc;
	/* opacity: 0.75; */
}

/* TODO: Toogle su ryškiai žalia */
