* {
	font-family: 'Cinzel Decorative', cursive;
	font-family: 'El Messiri', sans-serif;
	font-family: 'Emilys Candy', cursive;
}

#logo {
	max-width: 35px;
}

header {
	display: flex;
	background-color: #e22777;
	/* opacity: 0.75; */
}

.top-items {
	flex: 1;
	vertical-align: top;
	margin-top: 0 !important;
}

.top-items {
	text-align: right;
}

.nav.nav-pills > li {
	float: none;
	display: inline-block;
}

footer {
	background-color: #e22777;
	/* opacity: 0.75; */
}

img {
	max-height: 700px;
}

.nav-pills {
	/* color: white; */
	background-color: #8f29fc;
	/* opacity: 0.75; */
}

.vertical {
	background-color: #8f29fc;
	/* opacity: 0.75; */
}

/* TODO: Toogle su ryškiai žalia */
